---
layout: about
title: About Me 
header: About Me 
group: navigation
weight: "DE"
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% for post in site.categories.cv %} 
  <li>
    <a HREF="{{post.url}}">{{post.title}}</a>
  </li>
  {% endfor %}
</ul>

  <article>
     <figure style="width:87.5%;">
          <img src="{{IMAGE_PATH}}/lemeztin.jpg"/>
          <figcaption>Condensed milk label, by Ariadne Arendt</figcaption>
        </figure>

    <h1>Jonathan Walton</h1>
    <subtitle>aka Lemez Lovas</subtitle> 
    {% include sideimage img="LL.jpg" %}
   
    <section>
      <p><span class="newthought">Hello. </span>Here you can find some things about me, not least that someone once made me customised tins of Russian condensed milk, сгущёнка.<span class="sidenote-number"></span><span class="sidenote">Just to be clear, I'm not <a href="http://nypost.com/2015/01/04/harlem-man-dies-in-six-floor-plunge/"  >this person</a> or <a href="http://harvardmagazine.com/2012/04/jonathan-walton-named-memorial-church-minister"  >this person.</a></span></p>
      <p>If there are some things that aren't clear, don't worry as I will be providing notes.<span class="sidenote-number"></span><span class="sidenote topmargin">I crave academic legitimacy, you should know. Probably ever since I dropped out of my Masters to <a href="http://www.bandsintown.com/OiVaVoi/past_events?page=2"  >go on tour.</a></span>
      
    </section>

    <section>
      <h2>Research</h2>

       <p><span class="newthought">In no particular order, I'm interested in</span> folklore and ritual culture, analogue communications, human languages, singing and vocal techniques, sound, acoustics, informal education, identity, language acquisition and loss, dance and the body, computational linguistics, storytelling, statistics, digital hacking, censorship, Russia and the former Soviet Union, India, Roma and Jewish issues, liminal spaces, sacred music, infrasound, social structures, ownership and art as activism.</p>

      <h3>Language</h3>
       <p>I know a few languages, some better than others.<span class="sidenote-number"></span><span class="sidenote topmargin">Russian, French, Croatian, Japanese, Hungarian, Tamil, Hebrew, Arabic, Ruby, Javascript, Python, CSS.</span></p>


       <h3>Music Medicine</h3>
       <p>I'm the son of an anaesthetist, so you could say it's in my haemoglobin.</p>

       <h3>Technology</h3>
      
        {% include fullimage src="http://ghchart.rshah.io/lemez" alt="Lemez's Github chart" caption="The Github colour key: Green = machine addiction; Grey = 'having a life'." %}

        <br>
        
          {% include sideimage img="listentowiki.jpg" text='Geeks do beautiful things. Like <a href="http://listen.hatnote.com/">this.</a>' %}

          {% assign codepage = (site.categories.tech | where: 'title', 'Me and Coding') %}

           <p>
        
          I taught myself to code because I love geekery and it seemed like a perfect excuse.
          Also I had just founded a startup and I realised that London was a terrible place  <a href="{{codepage[0].url}}">to look for programmers</a>.

          The graph above will show you how much time I've been coding recently: each coloured square represents a 'commit' - ie something that I've coded that I want to save online to my <a href="http://github.com/lemez">Github repository.</a> - a kind of backup system for code.</p>

    </section>



    <section>
      <h2>Music</h2>

    
      {% include sideimage img="lemezvitya.jpg" text="Great artwork #306, courtesy of the genius that is <a href='http://mlmd.ru'>Melamed.</a>" %}

      {% assign ovvpage = (site.categories.music | where: 'title', 'Oi Va Voi') %}
      {% assign shtetlpage = (site.categories.music | where: 'title', 'Shtetl Superstars') %}
      {% assign ytopage = (site.categories.music | where: 'title', 'Yiddish Twist Orchestra') %}
      <p>I spent many years of my life running bands, performing on stage and touring. It is still something I love to do. I got some great artwork out of it. From my first band <a href="{{ovvpage[0].url}}">Oi Va Voi</a>, I got to see a glimpse of the rock'n'roll touring life. </p>
      <p>Also the <a href="{{shtetlpage[0].url}}">Shtetl Superstars</a></p>  
       <p>Also the <a href="{{ytopage[0].url}}">Yiddish Twist Orchestra</a></p> 

      <p>What I'm listening to</p>


      
      <p>You can find the last thing I liked on Youtube here:</p>

      <p class="videoWrapper"><iframe src="http://www.youtube.com/embed/?listType=playlist&list=LLRQVtG1GPjsa0YHOmGyiiqQ&showinfo=1" width="400" height='240'></iframe></p>

      <h3>Others</h3>
      <p>I was a  partner in a central London music studio, <a href="http://landfmusic.com/"  >Lemez & Fridel</a> for some years, and we worked with all sorts of wonderful artists for their albums, theatre productions and TV spots.</p>

      </section>

       <section>
      <h2>Politics</h2>
      <h3>Election Song Contest</h3>
       <p><span class="marginnote"><iframe width="auto" height="auto" src="https://www.youtube.com/embed/fvtWJNGmixc" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen ></iframe></span><span class="marginnote">Our election song contest top hit.</span></p>
      <p>Children, especially small ones, are the toughest audience for art in the world. To make something that keeps a 3-year-old coming back for more, is one of the hardest things in art.</p>
    </section>

       <section>
      <h2>Kids</h2>
      <p>Children, especially small ones, are the toughest audience for art in the world. To make something that keeps a 3-year-old coming back for more, is one of the hardest things in art.</p>
    </section>

       <section>
      <h2>Education</h2>
        <p><span class="marginnote"><iframe width="auto" height="auto" src="https://www.youtube.com/embed/BvAMEvFBFtk" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen ></iframe></span><span class="marginnote">Puppy gets it, but all in the cause of English grammar.</</span></p>
      <p>To use Tufte CSS, copy <span class="code">tufte.css</span> and <span class="code">ETBembo-RomanLF.ttf</span> to your project directory and add the following to your HTML document's <span class="code">head</span> block:</p>

      <pre class="code">&lt;link rel="stylesheet"
      href="tufte.css"/&gt;</pre>

      <p>Now you just have to use the provided CSS rules, and the Tufte CSS conventions described in this document. For best results, View Source and Inspect Element frequently.</p>
    </section>

      <section>
      <h2>Media</h2>
      <h3>Radio</h3>
       <p><span class="marginnote"><iframe width="auto" height="auto" src="https://www.youtube.com/embed/vWGkcpYvb6E" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen ></iframe></span><span class="marginnote">Recorded in Accra, Ghana, as part of BBC Radio 2's <a href="http://www.bbc.co.uk/programmes/b01blf8v/clips" target="blank">World Class Brass.</a></</span></p>
      <p><span class="newthought">I love</span> radio. Back in the day, BBC World Service were nice enough to let a bolshy graduate in off the street pitch a feature about music and politics in Ukraine, and I never looked back. I've produced and presented feature documentaries and reports for BBC World Service, BBC Russian Service, BBC Radio 2, BBC Radio 3, CBC Canada, Resonance FM, and helped to set up OpenAir at SOAS, University of London.</p>

      <h3>Film</h3>
      <p><span class="marginnote"><iframe width="auto" height="auto" src="https://www.youtube.com/embed/aRNAJCHxa7w" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen ></iframe></span><span class="marginnote">Why archaeology and conflict <a href="http://www.counterpunch.org/2008/04/11/digging-for-trouble/"  >don't mix</a> well.</</span></p>
       <p>I was part of a small indie TV & film production company in Jerusalem for two years. We made cultural reports and documentaries, and sold them mostly to Scandinavian broadcasters (apparently not much happens up there). Our proudest moment was winning the Audience Prize at Nyon Film Festival for <a href="http://www.7thart.com/films/In-the-Shadow-of-King-David"  >a film about archaeology and politics.</a></p>

       <h3>Print</h3>

      <p>To use Tufte CSS, copy <span class="code">tufte.css</span> and <span class="code">ETBembo-RomanLF.ttf</span> to your project directory and add the following to your HTML document's <span class="code">head</span> block:</p>

      <pre class="code">&lt;link rel="stylesheet"
      href="tufte.css"/&gt;</pre>

      <p>Now you just have to use the provided CSS rules, and the Tufte CSS conventions described in this document. For best results, View Source and Inspect Element frequently.</p>
    </section>

     <section>
      <h2>Tables</h2>
      <p>Tabular data are presented by default with right-aligned numbers, left-aligned text, and minimal grid lines. Table labels are margin notes placed inside a <span class="code">p</span> tag that wraps the <span class="code">table</span>.</p>
      <p>
        <span class="marginnote">Table 1: What's On This Site</span>
        <table>
          <thead>

            <th></th>
            {% for cat in site.categories %}
              <th>{{cat[0]}}</th>
            {% endfor %}

          </thead>
          <tbody>
            <tr>

              <td class="text">Articles</td>
              {% for cat in site.categories %}
                {% assign tag = cat[0] %}
                <td>{{site.categories[tag] | size }}</td>
              {% endfor %}

          </tr>
          </tbody>
        </table>
      </p>

         <p>
        <span class="marginnote">Table 2: What Tags Are On This Site</span>
        <table>
          <thead>

            <th>Name</th>
            <th>Number</th>
          
          </thead>
          <tbody>

            {% for cat in site.tags %}
              {% assign tag = cat[0] %}

              <tr>
                  <td>{{tag}}</td>
                  <td>{{site.tags[tag] | size}}</td>
              </tr>

           {% endfor %}

          </tbody>
        </table>
      </p>

         <p>
        <span class="marginnote">Table 3: What's Also On This Site</span>
        <table>
          <thead>
            <th>Songs</th>
            <th>Journalism</th>
            <th>Music</th>
            <th>Diary</th>
            <th>CV</th>
          </thead>
          <tbody>
            <tr>
              <td class="text">{{site.posts | size}}</td>
              <td>{{site.categories.journalism | size}}</td>
              <td>{{site.categories.music | size}}</td>
              <td>{{(site.categories.diary | size)}}</td>
              <td>{{site.categories.cv | size}}</td>
            </tr>
          </tbody>
        </table>
      </p>

     


      <p>Please understand: this is not the One True Table. Such a style does not exist. One must craft each data table with custom care to the narrative one is telling with that specific data. So take this not as "the table style to use", but rather as "a table style to start from". From here, use principles to guide you: avoid chartjunk, optimize the data-ink ratio ("within reason", as Tufte says), and <span class="sidenote-number">"mobilize every graphical element, perhaps several times over, to show the data."</span><span class="sidenote">Page 139, The Visual Display of Quantitative Information, Edward Tufte 2001.</span> Know when to reach for more complex data presentation tools, like a custom graphic or a JavaScript charting library.</p>
    </section>

     <section>
      <h2>Writing</h2>
      <p> </p>

      <pre class="code">&lt;link rel="stylesheet"
      href="tufte.css"/&gt;</pre>

      <p>Now you just have to use the provided CSS rules, and the Tufte CSS conventions described in this document. For best results, View Source and Inspect Element frequently.</p>
    </section>

     <section>

      <p>Tufte CSS uses <span class="code">h1</span> for the document title, <span class="code">h2</span> for section headings, and <span class="code">h3</span> for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document:</p>
      <blockquote cite="http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0000hB">
        <p>[It is] notable that the Feynman lectures (3 volumes) write about all of physics in 1800 pages, using only 2 levels of hierarchical headings: chapters and A-level heads in the text. It also uses the methodology of <em>sentences</em> which then cumulate sequentially into <em>paragraphs</em>, rather than the grunts of bullet points. Undergraduate Caltech physics is very complicated material, but it didn't require an elaborate hierarchy to organize.</p>
        <footer><a href="http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0000hB">Edward Tufte, forum post, 'Book design: advice and examples' thread</a></footer>
      </blockquote>

      <p><span class="newthought">In his <span class="sidenote-number">later books</span></span><span class="sidenote">E.g. <a href="http://www.edwardtufte.com/tufte/books_be">Beautiful Evidence</a></span>, Tufte starts each section with a bit of vertical space, a non-indented paragraph, and sets the first few words of the sentence in small caps. For this we use a span with the class <span class="code">newthought</span>, as demonstrated at the beginning of this paragraph. The vertical space is accomplished separately, through the <span class="code">&lt;section&gt;</span> class. I feel the vertical space is unnecessary when using this technique to replace <span class="code">h2</span> elements, as in this paragaph. Be consistent: though I do so in this paragraph for the purpose of demonstration, do not alternate use of header elements and the <span class="code">newthought</span> technique. Pick one approach and stick to it.</p>

      <h3>Color</h3>
      <p>Although paper handouts obviously have a pure white background, the web is better served by the use of slightly off-white and off-black colors. I picked <span class="code">#fffff8</span> and <span class="code">#111111</span> because they are nearly indistinguishable from their 'pure' cousins, but dial down the harsh contrast. </p>
      <p>Other forms of text&mdash;for instance, links and code&mdash;are slightly lighter, and sidenote numbers are bright red to distinguish them from inline text.</p>

      <h3>Font</h3>
      <p>In print, Tufte uses the proprietary <span class="sidenote-number">Monotype Bembo</span><span class="sidenote">See Tufte's response in the <a href="http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0000Vt">Tufte book fonts</a> thread.</span> font. In digital formats he uses ETBembo, which Tufte CSS includes using <span class="code">@font-face</span>. This means you'll have to make the .ttf file available to your readers. Note that <a href="https://github.com/daveliepmann/tufte-css/commit/0a810a7d5f4707941c6f9fe99a53ec41f50a5c00">thanks to Linjie Ding</a>, italicized text uses the ETBembo Italic font instead of mechanically skewing the characters.</p>
      <p>Code snippets (using the <span class="code">code</span> class) ape GitHub's font selection and sans-serifs (with the <span class="sans">sans</span> class) follow Tufte's choice of Gill Sans.</p>
    </section>


   

    <section>
      <h2>Sidenotes</h2>
      <p>One of the most distinctive features of Tufte's style is his extensive use of sidenotes.<span class="sidenote-number"></span><span class="sidenote">This is a sidenote.</span> Perhaps you have noticed their use in this document already. You are very astute.</p>
      <p>On sufficiently large viewports, Tufte CSS uses the margin for sidenotes, margin notes, and small figures. Sidenotes consist of 1) a superscript reference number that goes inline with the text, and 2) a sidenote containing content that repeats the superscripted number to reinforce its connection to the text. To add the former, just put <span class="code">&lt;span class="sidenote-number"&gt;&lt;/span&gt;</span> where you want the reference to go. Immediately after that goes the <span class="code">span</span> with class <span class="code">sidenote</span>, inserted directly into the middle of the <span class="code">p</span> tag containing the referent text. This will give the sidenote the correct height.</p>
      <p><span class="marginnote">This is a margin note. Notice there isn't a number preceding the note.</span>If you don't want footnote-style numberings on your sidenotes, what you want is a margin note. They are currently identical to sidenotes but are kept semantically distinct because one might wish to style them separately. Figures in the margin are created as margin notes, as demonstrated in the next section.</p>
    
      <p class="code">qplot(wt, mpg, data = mtcars, colour = factor(cyl))</p>
      <figure class="fullwidth">
        <img src="{{IMAGE_PATH}}/figure2.png"/>
        <figcaption>Figure 2: Full width figure</figcaption>
      </figure>
      <br/>
     
        <figure>
          <img src="{{IMAGE_PATH}}/figure3.png"/>
          <figcaption>Figure 3: A figure the width of the main column</figcaption>
        </figure>
      </p>
    </section>

   

    <section>
      <h2>Code</h2>
      <p>Code samples are monospace using the <span class="code">code</span> class, as I've been using in this document to denote HTML tags like the word 'code' earlier in this sentence. Code blocks use that class in conjunction with the <span class="code">pre</span> tag, which gives us indentation too:</p>
      <pre class="code">
;; functional programming:
(map tufte-style all-the-things)

// imperative programming:
for (i = 0; i++; i <= num) {
   all_the_things[i].useTufteStyle();
}
      </pre>
    </section>

    <section>
      <h2>Songs</h2>
      <iframe width="70%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/218640&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLPJ56FSR6VBFNzpWBetbM_hYiA71Kxg29" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen ></iframe>
    </section>
  </article>

