---
layout: default
title : Articles
header : Post Archive
group: navigation
weight: "A"
---
{% include JB/setup %}

{% for post in site.posts %} 

<div class="all_page_links" >
  <a  href={{post.url}}>
<!--     {{post.content | strip_html | truncatewords:50}} -->
  <span class="allnote"><img src="{{IMAGE_CROP_PATH}}/{{post.image}}" height="100"/></span>
  	<h3>	{{post.title}} <span class="all_page_tagline">	{{post.source}}</span><br>
	  	<span class="all_page_tagline">	{{post.original_date}}</span></h3>
	 <p> {{post.description}}
	  	
	 </p>
  </a>
  <div>
  
  <hr class='nomargin'>
{% endfor %}