---
layout: default
title : Articles
header : Post Archive
group: navigation
weight: "A"
---
{% include JB/setup %}

<div class="index">
	<ul class="tag_box inline">
		{% assign categories_list = (site.categories | sort ) %}
	   {% include JB/categories_list %}
	</ul>
</div>

<h6>Diary</h6>
{% for post in site.categories.diary %} 

<div class="all_page_links" >
  <a  href={{post.url}}>
<!--     {{post.content | strip_html | truncatewords:50}} -->
  <span class="allnote"><img src="{{IMAGE_CROP_PATH}}/{{post.image}}" height="100"/></span>
  	<h3>	
  		<span class="all_page_main">{{post.title}}</span>
  	 	<span class="all_page_tagline">	{{post.source}}</span><br>
	  	<span class="all_page_tagline">	{{post.original_date}}</span>
	 </h3>
	 <p> {{post.description}}</p>
  </a>
  <div>
  
  <hr class='nomargin'>
{% endfor %}

 <hr class='nomargin thick'>
 <hr class='nomargin thick'>

<h6> Journalism</h6>
{% for post in site.categories.journalism %} 

<div class="all_page_links" >
  <a  href={{post.url}}>
<!--     {{post.content | strip_html | truncatewords:50}} -->
  <span class="allnote"><img src="{{IMAGE_CROP_PATH}}/{{post.image}}" height="100"/></span>

  	<h3>	
  		<span class="all_page_main">{{post.title}}</span><br>
  	 	<span class="all_page_tagline">	{{post.source}} / </span>
	  	<span class="all_page_tagline">/ {{post.original_date}}</span>
	 </h3>
	 <p class='all_desc'> {{post.description}}</p>
  </a>
   </div>
  
  <hr class='nomargin'>
{% endfor %}