---
layout: default
title : Home
header : Hello
---
{% include JB/setup %}
<!-- {% include signs text="w,e,l,c,o,m,e" %} -->

<h1 class='homepage'> Hello. I'm <a href="/about.html">Jonathan</a>. Thanks for dropping by. The <a href="/writing.html">writing</a> page has thoughts, journalism and media; the <a href="/music.html">music</a> page has music and art projects; the <a href="/tech.html">tech</a> and <a href="/lyrics.html">songs</a> pages have... you get the picture.</h1>
<h1> Oh, and if you want to browse everything by <a href="//world.html">location</a> or by <a href="/categories.html">topic</a>, you can do that too.</h1> 

<!-- or if you just want to jump right into the good stuff, start here. just want to watch a good film, or listen to something, go right ahead. -->