---
layout: default
title : Tech
header : Tech
group: navigation
weight: "AD"
icon: "jonascii.png"
---
{% include JB/setup %}


<subtitle>{{page.title}}</subtitle>
<ul class="tag_box inline no_border">

		{% assign techArray = site.techarray %}

		{% assign areas = site.categories.tech | map: 'area' | sort  %}
		{% assign areas2 = areas | uniq %}

		{% assign prevtag = '' %}
				 	
		{% for tag in areas %}

		 	{% unless prevtag == tag %}
			 	<li>
				 		<a href="#{{tag}}">
				 		{{tag}}
				 		</a>
				</li>
			{% endunless %}
			{% assign prevtag = tag %}

		{% endfor %}
	</ul>

<div class='clear inline'>
	<a href="http://github.com/lemez">
	 <img class='realfullwidth left' src="http://ghchart.rshah.org/lemez" alt="My Github commits chart" />
	  </a>
	 <footer class="right">My Github commits: green = 'machine autism', grey = 'having a life'</footer>
	
</div>

<br>

<div class='clear'>
{% assign tech_list = (site.categories.tech | sort: 'area' ) %}

{% assign prevtag = '' %}
{% for post in tech_list %} 

		<div class="all_page_links" >
	      	<a  href={{post.url}}>

				{% if prevtag != post.area %}
				    <span id="{{post.area}}" class="all_page_tagline category"> {{post.area}}</span>
				    {% else %}
				    <span class="all_page_tagline category"> {{post.area}}</span>
				 {% endif %}

			    <span class="all_page_tagline category">: {{post.year}}</span>
			    
			    <br>

		    	 <img class="allnote" src="{{IMAGE_CROP_PATH}}/{{post.image}}"/>

			      <div class="index-title">
			      	<h3>	
			        	<span class="all_page_main">{{post.title}}</span>
			        	<br>
			    	 </h3>
			    	 <p class='all_desc'> {{post.description}}</p>
			      </div>

	      	</a>
	    </div>
	  
	  <hr class='nomargin'>
	  {% assign prevtag = post.area %}
	{% endfor %}

</div>

