---
layout: default
title : World
header : Post By GeoTag
group: navigation
weight: "CA"
---
{% include JB/setup %}

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{{ ASSET_PATH }}/js/datamaps.world.min.js"></script>
<script src="{{ ASSET_PATH }}/js/locations.js"></script>
<div id="container" style="position: relative; width: 100%; height: 400px;"></div>

<section>
<div class="index">
	<span class='catheader'>geo</span>
	<ul class="tag_box inline">

		{% assign locationArray = site.locationarray %}
		{% assign all = site.allpages %}
		{% for post in site.posts %}
			{% assign all = all | push: post %}
		{% endfor %}
		{% for post in site.reviews %}
			{% assign all = all | push: post %}
		{% endfor %}

		 {% for post in all %} 

		 	{% if (post.location | size) > 0 %}
				 {% for tag in post.location %}

				 	{% unless locationArray contains tag %}
					 	{% assign locationArray = locationArray | push: tag %}
					{% endunless %}

				 {% endfor %}
			{% endif %}
		{% endfor %}

		{% assign sortedLocations = (locationArray | sort )%}

		{% for tag in sortedLocations %}
			<li>
				 		<a href="{{ BASE_PATH }}#{{ tag | replace: ' ', ''}}-ref">
				 		{{tag}}
				 		</a>
			</li>

		{% endfor %}

	</ul>
</div>
</section>
<hr>
<section id='worldglossary'>
<!-- list of tags by category -->
<div class="index">

	<ul class="tag_box inline">
		{% assign categories_list = (site.categories | sort ) %}

	   {% include JB/categories_list_inactive %}
	</ul>
</div>
</section>

<section>
{% for location in sortedLocations  %} 
  <h2 id="{{location | replace: ' ', ''}}-ref">{{location}}</h2>
  <ul class='icon'>
    {% assign pages_list = site.tags[location]  %} 

    {% if (pages_list | size ) > 0 %}

    	{% assign pages_list = pages_list | sort: "category" %}
    	{% include JB/pages_list class='bigger' %}
    {% endif %}

     {% for review in site.reviews %}

    	{% if review.location contains location or review.location == location %}
    			<li class="lplink iconic"><a class="smaller" href="{{review.url}}">{{review.title}}</a></li>
    	{% endif %}

    {% endfor %}
  </ul>
{% endfor %}
</section>


<script>
		var replacedNames = {
			"United Kingdom": "UK",
			"Czech Republic":  "Czech",
		    "Trinidad and Tobago": "Trinidad",
		    "United States of America": "USA",
		    "Palestine, State of": "Palestine",
		    "Bosnia and Herzegovina": "Bosnia",
		    "Republic of Serbia": "Serbia"
		} ;

	makeMap();

	function makeMap(){

	    $('div#container').css("height", $(window).height()*0.7);

	    var countries = Datamap.prototype.worldTopo.objects.world.geometries;
		var placedict = {}
		for (var i = 0, j = countries.length; i < j; i++) {
			placedict[countries[i].properties.name] = countries[i].id;
		}

		placedata = {};
		

		for (var key in JsLocationArray) {
		  if (JsLocationArray.hasOwnProperty(key)) {
		    placename = JsLocationArray[key];
		    numberOfEntries = JsLocationArray.filter(function(x){return x==placename}).length;

		    if (placename=="UK"){placename="United Kingdom"};
		    if (placename=="Czech"){placename="Czech Republic"};
		    if (placename=="Trinidad"){placename="Trinidad and Tobago"};
		    if (placename=="USA"){placename="United States of America"};
		    if (placename=="Palestine"){placename="Palestine, State of"};
		    if (placename=="Bosnia"){placename="Bosnia and Herzegovina"};
		    if (placename=="Serbia"){placename="Republic of Serbia"};

		    placecode = placedict[placename];
		    placedata[placecode] = { fillKey: "authorHasTraveledTo",
		     size: numberOfEntries
		 	};

		  }
		}

		var toType = function(obj) {
  return ({}).toString.call(obj).match(/\s([a-zA-Z]+)/)[1].toLowerCase()
}

		var map = new Datamap({
			element: document.getElementById('container'),
			  scope: 'world',

			  setProjection: function(element) {
			    var projection = d3.geo.mercator()
			      .center([50, 23])
			      .rotate([0, 0])
			      .scale(200)
			      .translate([element.offsetWidth / 2, element.offsetHeight / 2]);

			    var path = d3.geo.path()
			      .projection(projection);

			    var zoom = d3.behavior.zoom()
					    .scaleExtent([1, 8])
					    .on("zoom", zoomed);

				function zoomed() {
						  g.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
						}

				  return {path: path, projection: projection};
				
	  			},
	  			
		  		fills: {
				    defaultFill: "#ABDDA4",
				    authorHasTraveledTo: "#fa0fa0"
				  },
		  		data: placedata,
		  		geographyConfig: {
		  			popupTemplate: function(geography, data) { 
		  				
		  				var visited=geography.properties.name;
		  				var openBold = '', closeBold = '';

		  				try {
						    var colon = ': ';
		  					var visited = visited.concat(colon.concat(data.size.toString()));
		  					var openBold = '<strong>', closeBold = "</strong>";	
						}
						catch(err) {
						    var visited=geography.properties.name;
						} 
						finally {
		  					return '<div class="hoverinfo">' + openBold + visited + closeBold + '</div>'
		  				}
		  			}
		  		}
		});
	}

				// var defaultOptions = {
		  //   scope: 'world', //currently supports 'usa' and 'world', however with custom map data you can specify your own
		  //   setProjection: setProjection, //returns a d3 path and projection functions
		  //   projection: 'equirectangular', //style of projection to be used. try "mercator"
		  //   height: null, //if not null, datamaps will grab the height of 'element'
		  //   width: null, //if not null, datamaps will grab the width of 'element'
		  //   done: function() {}, //callback when the map is done drawing
		  //   fills: {
		  //     defaultFill: '#ABDDA4' //the keys in this object map to the "fillKey" of [data] or [bubbles]
		  //   },
		  //   dataType: 'json', //for use with dataUrl, currently 'json' or 'csv'. CSV should have an `id` column
		  //   dataUrl: null, //if not null, datamaps will attempt to fetch this based on dataType ( default: json )
		  //   geographyConfig: {
		  //       dataUrl: null, //if not null, datamaps will fetch the map JSON (currently only supports topojson)
		  //       hideAntarctica: true,
		  //       borderWidth: 1,
		  //       borderColor: '#FDFDFD',
		  //       popupTemplate: function(geography, data) { //this function should just return a string
		  //         return '<div class="hoverinfo"><strong>' + geography.properties.name + '</strong></div>';
		  //       },
		  //       popupOnHover: true, //disable the popup while hovering
		  //       highlightOnHover: true,
		  //       highlightFillColor: '#FC8D59',
		  //       highlightBorderColor: 'rgba(250, 15, 160, 0.2)',
		  //       highlightBorderWidth: 2
		  //   },
		  //   bubblesConfig: {
		  //       borderWidth: 2,
		  //       borderColor: '#FFFFFF',
		  //       popupOnHover: true,
		  //       popupTemplate: function(geography, data) {
		  //         return '<div class="hoverinfo"><strong>' + data.name + '</strong></div>';
		  //       },
		  //       fillOpacity: 0.75,
		  //       highlightOnHover: true,
		  //       highlightFillColor: '#FC8D59',
		  //       highlightBorderColor: 'rgba(250, 15, 160, 0.2)',
		  //       highlightBorderWidth: 2,
		  //       highlightFillOpacity: 0.85
		  //   },
		  //   arcConfig: {
		  //     strokeColor: '#DD1C77',
		  //     strokeWidth: 1,
		  //     arcSharpness: 1,
		  //     animationSpeed: 600
		  //   }
		  // };	


	    // click action scrolls to Heading 
    d3.select('svg').selectAll('.datamaps-subunit').on('click', function(e){
    	var d3name = e.properties.name;

    	var nameId = "#" + d3name.replace(/ /g,'') + "-ref";

    	if (replacedNames.hasOwnProperty(d3name)) {
    		nameId = "#" + replacedNames[d3name].replace(/ /g,'') + "-ref";
    	}

	    $('html,body').animate({
	        scrollTop: $(nameId).offset().top},
	        'slow');
		
	});
	



</script>