---
layout: default
title : Where
header : Post By GeoTag
group: navigation
weight: "CA"
---
{% include JB/setup %}

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{{ ASSET_PATH }}/js/datamaps.world.min.js"></script>
<script src="{{ ASSET_PATH }}/js/locations.js"></script>
<div id="container" style="position: relative; width: 100%; height: 400px;"></div>

<section>
<div class="index">
	<span class='catheader'>geo</span>
	<ul class="tag_box inline">

		{% assign locationArray = site.locationarray %}
		 {% for post in site.posts %} 
			 {% for tag in post.location %}

			 	{% unless locationArray contains tag %}
				 	{% assign locationArray = locationArray | push: tag %}
				{% endunless %}

			 {% endfor %}
		{% endfor %}

		{% assign sortedLocations = (locationArray | sort )%}

		{% for tag in sortedLocations %}
			<li>
				 		<a href="{{ BASE_PATH }}#{{ tag | replace: ' ', ''}}-ref">
				 		{{tag}}
				 		</a>
			</li>

		{% endfor %}

	</ul>
</div>
</section>

	<section>
{% for location in sortedLocations  %} 
  <h2 id="{{location | replace: ' ', ''}}-ref">{{location}}</h2>
  <ul class='icon'>
    {% assign pages_list = site.tags[location] | sort: "category" %}  
    {% if (pages_list | size ) > 0%}
    	{% include JB/pages_list %}
    {% endif %}
  </ul>
{% endfor %}
</section>


<script>

	makeMap();
	function makeMap(){

	    $('div#container').css("height", $(window).height()*0.7);

	    var countries = Datamap.prototype.worldTopo.objects.world.geometries;
		var placedict = {}
		for (var i = 0, j = countries.length; i < j; i++) {
			placedict[countries[i].properties.name] = countries[i].id
		}

		placedata = {};

		for (var key in locationArray) {
		  if (locationArray.hasOwnProperty(key)) {
		    placename = locationArray[key];
		    if (placename=="UK"){placename="United Kingdom"};
		    if (placename=="US"){placename="United States of America"};
		    if (placename=="Palestine"){placename="Palestine, State of"};
		    if (placename=="Bosnia"){placename="Bosnia and Herzegovina"};
		    placecode = placedict[placename];
		    placedata[placecode] = { fillKey: "authorHasTraveledTo" };
		  }
		}

		var map = new Datamap({
			element: document.getElementById('container'),
			  scope: 'world',

			  setProjection: function(element) {
			    var projection = d3.geo.mercator()
			      .center([50, 23])
			      .rotate([0, 0])
			      .scale(200)
			      .translate([element.offsetWidth / 2, element.offsetHeight / 2]);

			    var path = d3.geo.path()
			      .projection(projection);

				  return {path: path, projection: projection};
				
	  			},
	  			// done: function(datamap) {
    		// 				datamap.svg.call(drag());

    		// 				function drag(){
    		// 					var m0,
			   //  					o0;

						// 		var drag = d3.behavior.drag()
						// 		    .on("dragstart", function() {
						// 		    // Adapted from http://mbostock.github.io/d3/talk/20111018/azimuthal.html and updated for d3 v3
						// 		      var proj = projection.rotate();
						// 		      m0 = [d3.event.sourceEvent.pageX, d3.event.sourceEvent.pageY];
						// 		      o0 = [-proj[0],-proj[1]];
						// 		    })
						// 		    .on("drag", function() {
						// 		      if (m0) {
						// 		        var m1 = [d3.event.sourceEvent.pageX, d3.event.sourceEvent.pageY],
						// 		            o1 = [o0[0] + (m0[0] - m1[0]) / 4, o0[1] + (m1[1] - m0[1]) / 4];
						// 		        projection.rotate([-o1[0], -o1[1]]);
						// 		      }

						// 		    // Update the map
						// 		      path = d3.geo.path().projection(projection);
						// 		      d3.selectAll("path").attr("d", path);
						// 		    });
    		// 					}
    		// 			},

		  		fills: {
				    defaultFill: "#ABDDA4",
				    authorHasTraveledTo: "#fa0fa0"
				  },
		  		data: placedata

		});
	}



	 window.addEventListener('resize', function() {
        map.resize();
    });


	    // click action scrolls to Heading 
    d3.select('svg').selectAll('.datamaps-subunit').on('click', function(e){
    	var name = "#" + e.properties.name.replace(/ /g,'') + "-ref";
	    $('html,body').animate({
	        scrollTop: $(name).offset().top},
	        'slow');
		
	});
	



</script>