---
layout: music
category: "songs"
year: 2000-
title: "Song Lyrics, Poetry and Creative Writing"
description: "Selected poems, stories and song lyrics"
image: "pencil.jpg"
area: songwriting
genre: ['lyrics']
location: [UK]
tags: [lyrics, UK]
---
{% include JB/setup %}
<subtitle>{{page.description}}</subtitle>
<h2>Lyrics</h2>		

{% assign songsarray = (site.lyrics | sort: 'group' | group_by: 'artist') %}
{% assign poetryarray = (site.lyrics | where: 'group', 'Poetry' | sort: 'title') %}
{% assign storyarray = (site.lyrics | where: 'group', "Fiction" ) %}
{% assign prevalbum = '' %}
{% assign prevband = '' %} 
{% assign prevyear = '' %}

<ul>

{% for artistarray in songsarray %}

	{% assign dataArr = (artistarray.items | sort: 'album') %}
	{% for song in dataArr %}
		{% if song.group != 'Poetry' and song.group != "Fiction" %}

			{% include lyricshelper %}

		  {% assign prevband = song.group %}
	      {% assign prevalbum = song.album %}
	      {% assign prevyear = song.year %}

		{% endif %}
	{% endfor %}
{% endfor %}

</ul>

<br>
<hr>

<h2>Poetry</h2>
<br>
<ul class="indented">
{% for poem in poetryarray %}

			{% include poetryhelper %}

{% endfor %}
</ul>

<br>
<hr>

<h2>Creative Writing</h2>
<br>
{% include novelhelper %}


