---
layout: music
category: "songs"
year: 2000-
title: "Song Lyrics, Poetry and Creative Writing"
description: "Selected poems, stories and song lyrics"
image: "pencil.jpg"
area: songwriting
genre: ['lyrics']
location: [UK]
tags: [lyrics, UK]
---
{% include JB/setup %}
<subtitle>{{page.description}}</subtitle>
<h2>Lyrics</h2>		

{% assign songsarray = (site.lyrics | sort: 'group' | group_by: 'artist') %}
{% assign poetryarray = (site.lyrics | where: 'group', 'Poetry' | sort: 'title') %}
{% assign storyarray = (site.lyrics | where: 'group', "Fiction" ) %}
{% assign prevalbum = '' %}
{% assign prevband = '' %} 
{% assign prevyear = '' %}


{% assign bandlist = site.bandlist %}
{% for band in bandlist %}

	{% assign songsbyband = (site.lyrics | where: 'group', band | sort: 'album' %}
	{% assign prevalbum = '' %}

	<h2 class='band'>{{band}}</h2>
	<ul class='album'>

	{% for song in songsbyband reversed %}

		{% if prevalbum != song.album %}
			</ul>
			<h3 class='album'>{{song.album}} ({{song.year}})</h3>
			<ul class='album'>
		{% endif %}

	      <li>
		<a href="{{song.url}}">{{ song.title }}</a>
	      </li>

	      {% assign prevalbum = song.album %}

	{% endfor %}
	</ul>

{% endfor %}

<br>
<hr>

<h2>Poetry</h2>
<h3 class='album'>{{poetryarray[0].grouping}}</h3>
<br>
<ul class="indented">
{% for poem in poetryarray %}

			{% include poetryhelper %}

{% endfor %}
</ul>

<br>
<hr>

<h2>Creative Writing</h2>
<br>
{% include novelhelper %}


